﻿@model PDFCMS.Models.TOC

@{
    ViewBag.Title = "Table of Content";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">@ViewBag.Title</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Files", "Index", "File")
                        </li>
                        <li>@ViewBag.Title</li>
                        <li class="active-page">Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Topic Edit</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">

                    @using (Html.BeginForm("Edit", "TOC", new { ReturnUrl = ViewBag.ReturnUrl, fileId = Request.Params["fileId"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => @Request.Params["fileid"])
                        @Html.HiddenFor(model => model.TopicId)
                        <div class="form-group">
                            <label class="control-label col-md-2" for="title">Topic Name</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Topic Name" })
                                <label for="name" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Name)</span></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="title">Page No.</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.PageNo, new { @class = "form-control", @placeholder = "Enter Page Number", @type = "number", @min = "1" })
                                <label for="pageno" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.PageNo)</span></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="category">Parent Topic</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ParentId, Model.Topics.Select(c => new SelectListItem
                               {
                                   Text = c.Name,
                                   Value = c.TopicId.ToString()
                               }), "", new { @class = "form-control" })
                            </div>
                        </div>

                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "TOC", new { fileId = @Request.Params["fileid"] }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#files .anchor").addClass("active");
            $("#files ul").show();
        });
    </script>
}




