﻿@model PagedList.IPagedList<PDFCMS.Models.TOC>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Table of Content";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">@ViewBag.Title</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Files", "Index", "File")
                        </li>
                        <li class="active-page">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create", "TOC", new { fileId = Request.Params["fileId"] }, new { @class = "btn btn-primary btn-block ex-noty" })
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered matmix-dt bg-hc-border datatable">
        <thead>
            <tr>
                <th>
                    Topic Name
                </th>
                <th>
                    Page No.
                </th>
                <th>
                    Parent Topic
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageNo)
                    </td>

                    <td>
                        @if (item.ParentId != null && item.ParentId > 0)
                        { 
                            @Html.DisplayFor(modelItem => item.Parent.Name)
                        }
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.TopicId, fileId = Request.Params["fileId"] }, new { @class = "btn btn-default btn-sm m-user-edit" })
                                <a class="btn btn-default btn-sm m-user-delete" onclick="javascript:removeTopic(@item.TopicId,@Request.Params["fileid"])">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, fileId = @Request.Params["fileid"] }))
</div>

@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#files .anchor").addClass("active");
            $("#files ul").show();
        });
    </script>


    @Scripts.Render("~/Content/SiteAssets/js/jquery.dataTables.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.responsive.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.tableTools.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/SiteAssets/js/stacktable.js")
    <script type="text/javascript">


        function removeTopic(topicId, _fileId) {
            //var forgeryId = $("#forgeryToken").val();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this Information!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    jQuery.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","TOC")',
                        ajaxasync: true,
                        data: { id: topicId},
                        //headers: {
                        //    'VerificationToken': forgeryId
                        //},
                        success: function (data) {
                            //alert(data);
                            //$(_this).parentsUntil('tbody').addClass("noty_animated bounceOutRight");
                            if (data == "Success") {
                                console.log('Removed');
                                //swal("Deleted!", "Information has been deleted.", "success");
                                swal({ title: "Deleted!", text: "Information has been deleted", timer: 2000, showConfirmButton: false });
                                var url = '@Url.Action("Index", "TOC")?fileId='+_fileId;
                                window.location.href = url;
                            }
                            else{
                                swal("Error!", "Something went wrong", "error");
                            }
                            
                        },
                        error: function (data) {
                            swal("Error!", "Something went wrong", "error");
                        }
                    });
                }
            });
        }

    </script>
}

