﻿@using Microsoft.AspNet.Identity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Components Mix Bootstarp 3 Admin Dashboard Template">
    <meta name="author" content="Westilian">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/font-awesome.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/bootstrap.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/animate.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/waves.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/layout.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/components.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/plugins.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/common-styles.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/pages.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/responsive.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/matmix-iconfont.css")" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    <style type="text/css">
       .usernameAlign{
           margin-right:0px !important;
       }
       .padding10{
           padding:10px !important;
       }
        .error{
            color:red !important;
        }
        .error-custom {
            color: red !important;
        }
        .left-aside .aside-branding {
            height: 155px !important;
            background-color: white !important;
        }
    </style>
    @RenderSection("css", required: false)
</head>
<body>
    <div class="page-container list-menu-view">
        <!--Leftbar Start Here -->
        <div class="left-aside desktop-view">
            <div class="aside-branding">
                @*<a href="index.html" class="iconic-logo">
                    <img src="@Url.Content("~/Content/SiteAssets/images/logo-iconic.png")" alt="Matmix Logo">
                </a>*@
                <div style="text-align: center">
                    <a href="@Url.Action("Index","Subscriber",null)" class="large-logo">
                        <img style="padding:5px;" src="@Url.Content("~/Content/SiteAssets/images/logo_nahad.png")" alt="Matmix Logo">
                    </a><span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
                    <span class="aside-close waves-effect"><i class="fa fa-times" style="color: #15bdc3;"></i></span>
                    </div>
                </div>
            <div class="left-navigation">
                <ul class="list-accordion">
                    <li id="subscribers">
                        <a href="#" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-users"></i></span><span class="nav-label">Subscribers</span></a>
                        <ul>
                            <li>
                                @Html.ActionLink("View", "Index", "Subscriber", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Create", "Create", "Subscriber", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Import", "Import", "Subscriber", null, null)
                            </li>
                        </ul>
                    </li>
                    @*<li id="categories">
                        <a href="#" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-align-justify"></i></span><span class="nav-label">Categories</span></a>
                        <ul>
                            <li>
                                @Html.ActionLink("Index", "Index", "Category", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Create", "Create", "Category", null, null)
                            </li>
                        </ul>
                    </li>*@
                    <li id="files">
                        <a href="#" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-file"></i></span><span class="nav-label">Files</span></a>
                        <ul>
                            <li>
                                @Html.ActionLink("View", "Index", "File", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Create", "Create", "File", null, null)
                            </li>
                        </ul>
                    </li>
                    <li id="glossary">
                        <a href="#" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-search"></i></span><span class="nav-label">Glossary</span></a>
                        <ul>
                            <li>
                                @Html.ActionLink("View", "Index", "Glossary", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Create", "Create", "Glossary", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Import", "Import", "Glossary", null, null)
                            </li>
                        </ul>
                    </li>
                    <li id="settings">
                        <a href="@Url.Action("Index","Settings",null)" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-gear"></i></span><span class="nav-label">Settings</span></a>
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {

                            
    <a href="javascript:document.getElementById('logoutForm').submit()" class="waves-effect anchor"><span class="nav-icon"><i class="fa fa-lock"></i></span><span class="nav-label">Logout</span></a>


                            
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <!--Topbar Start Here -->
            <header class="top-bar">
                <div class="container-fluid top-nav">
                    @*<div class="search-form search-bar">
                        <form>
                            <input name="searchbox" value="" placeholder="Search Topic..." class="search-input">
                        </form>
                        <span class="search-close waves-effect"><i class="ico-cross"></i></span>
                    </div>*@
                    <div class="row">
                        <div class="col-md-2">
                            <div class="clearfix top-bar-action">
                                <span class="leftbar-action-mobile waves-effect"><i class="fa fa-bars "></i></span>
                                <span class="leftbar-action desktop waves-effect"><i class="fa fa-bars "></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 responsive-fix top-mid">
                            
                            @*<div class="pull-left mobile-search">
                                <span class=" waves-effect search-btn">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>*@
                        </div>
                        <div class="col-md-6 responsive-fix">
                            <div class="top-aside-right">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @*<div class="user-nav usernameAlign">
                                        <ul>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" href="#" class="clearfix dropdown-toggle waves-effect waves-block waves-classic">
                                                    <span class="user-info padding10">@User.Identity.GetUserName()</span>
                                                    </a>
                                                <ul role="menu" class="dropdown-menu fadeInUp">
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="user-nav-icon"><i class="fa fa-lock"></i></span><span class="user-nav-label">Logout</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>*@
                               }
                            }
                                @*<div class="pull-right desktop-search">
                                    <span class="waves-effect search-btn">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>*@
                                @*<span class="rightbar-action waves-effect"><i class="fa fa-bars"></i></span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-container">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!--Footer Start Here -->
            <footer class="footer-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="footer-left">
                                <span>&copy; @DateTime.Now.Year.ToString() All rights reserved <a href=""></a></span>
                            </div>
                        </div>
                        @*<div class="col-md-6 col-sm-6">
                            <div class="footer-right">
                                <span class="footer-meta">Crafted with&nbsp;<i class="fa fa-heart"></i>&nbsp;by&nbsp;<a href="http://themeforest.net/user/westilian">westilian</a></span>
                            </div>
                        </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <input type="hidden" id="forgeryToken" value="@GetAntiForgeryToken()" />
    <!--Rightbar Start Here -->
    
    <script src="@Url.Content("~/Content/SiteAssets/js/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jRespond.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/nav-accordion.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/hoverintent.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/waves.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/switchery.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jquery.loadmask.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/icheck.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootstrap-filestyle.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootbox.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/animation.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/colorpicker.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/sweetalert.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/moment.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/calendar/fullcalendar.js")"></script>
    <!--CHARTS-->
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/sparkline/jquery.sparkline.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/easypie/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/curvedLines.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.time.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.stack.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.axislabels.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.resize.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.spline.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart/flot/jquery.flot.pie.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/chart.init.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/smart-resize.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/layout.init.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/summernote.min.js")"></script>
    @*<script src="@Url.Content("~/Content/SiteAssets/js/matmix.init.js")"></script>*@
    <script src="@Url.Content("~/Content/SiteAssets/js/script.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/retina.min.js")"></script>
    <script>
     @functions{
     public string GetAntiForgeryToken()
     {
         string cookieToken, formToken;
         AntiForgery.GetTokens(null, out cookieToken, out formToken);
         return cookieToken + "," + formToken;
     }
     }

    </script>
    @RenderSection("script", required: false)
</body>
</html>
