﻿@model PDFCMS.Models.Glossary

@{
    ViewBag.Title = "Glossary";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">Create</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Glossary", "Index", "Glossary")
                        </li>
                        <li class="active-page">Create</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Glossary Create</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    @using (Html.BeginForm("Create", "Glossary", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.Alphabet, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Alphabet, new { @class = "form-control", @placeholder = "Enter Alphabet" })
                                <label for="Alphabet" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Alphabet)</span></label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Word, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Word, new { @class = "form-control", @placeholder = "Enter Word" })
                                <label for="Word" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Word)</span></label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Definition, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Definition, new { @class = "full-editor", @placeholder = "Enter Definition" })
                                <label for="Definition" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Definition)</span></label>
                            </div>
                        </div>
                        
                        
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "Glossary", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#glossary .anchor").addClass("active");
            $("#glossary ul").show();

            $('.full-editor').summernote({
                height: 250,
                focus: false,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ]
            });
        });
    </script>
}