﻿@model PDFCMS.Models.Glossary

@{
    ViewBag.Title = "Glossary";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">Import</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Files", "Index", "File")
                        </li>
                        <li>@ViewBag.Title</li>
                        <li class="active-page">Import</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Import Glossary</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    @using (Html.BeginForm("Import", "Glossary", new { ReturnUrl = ViewBag.ReturnUrl, fileId = Request.Params["fileId"]  }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label col-md-2">File</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control", @name = "glossaryFile", @accept = ".csv" })
                                <label for="glossaryFile" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.File)</span></label>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Import" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "Glossary", null , new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#glossary .anchor").addClass("active");
            $("#glossary ul").show();
        });
    </script>
}