﻿@model PagedList.IPagedList<PDFCMS.Models.Glossary>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Glossary";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">View</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Files", "Index", "File")
                        </li>
                        <li class="active-page">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4" style="padding-left: 0px !important;">
            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary btn-block ex-noty" })
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 control-label">Search:</label>
                <div class=" col-md-6">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search" })
                </div>
            </div>
        </form>
    </div>
    @*<div class="col-md-2">
        @Html.ActionLink("Import", "Import", null, new { @class = "btn btn-primary btn-block ex-noty" })
    </div>*@
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered matmix-dt bg-hc-border datatable">
        <thead>
            <tr>
                <th>
                    Alphabet
                </th>
                <th>
                    Word
                </th>
                <th>
                    Definition
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alphabet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Word)
                    </td>
                    <td>
                        @Html.Raw(item.Definition)
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.GlossaryId }, new { @class = "btn btn-default btn-sm m-user-edit" })
                                <a class="btn btn-default btn-sm m-user-delete" onclick="javascript:removeGlossary(@item.GlossaryId)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#glossary .anchor").addClass("active");
            $("#glossary ul").show();
        });

        function removeGlossary(glossaryId) {
            //var forgeryId = $("#forgeryToken").val();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this Information!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    jQuery.ajax({
                        type: "post",
                        url: '@Url.Action("Delete","Glossary")',
                        ajaxasync: true,
                        data: { id: glossaryId },
                        //headers: {
                        //    'VerificationToken': forgeryId
                        //},
                        success: function () {
                            //$(_this).parentsUntil('tbody').addClass("noty_animated bounceOutRight");
                            //swal("Deleted!", "Information has been deleted.", "success");
                            swal({ title: "Deleted!", text: "Information has been deleted", timer: 2000, showConfirmButton: false });
                            window.location.replace('@Url.Action("Index", "Glossary")');
                        },
                        error: function (data) {
                            swal("Error!", "Something went wrong", "error");
                            console.log('not remvoed');
                        }
                    });
                }
            });
        }

    </script>

    @Scripts.Render("~/Content/SiteAssets/js/jquery.dataTables.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.responsive.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.tableTools.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/SiteAssets/js/stacktable.js")

}
