﻿@model PDFCMS.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Components Mix Bootstarp 3 Admin Dashboard Template">
    <meta name="author" content="Westilian">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/font-awesome.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/bootstrap.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/animate.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/waves.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/layout.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/components.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/plugins.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/common-styles.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/pages.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/responsive.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/SiteAssets/css/matmix-iconfont.css")" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    <style type="text/css">
        .login-page ul {
            list-style-type: none;
        }
    </style>
</head>
<body class="login-page">
    <div class="page-container">
       
        <div class="login-container" style="margin-top:5%;">
            @*<div class="login-branding">
                <a href="index.html"><img src="@Url.Content("~/Content/SiteAssets/images/logo_nahad.png")" alt="logo"></a>
            </div>*@
            <img src="@Url.Content("~/Content/SiteAssets/images/logo_nahad.png")" alt="logo" style="margin-bottom:10px;">
            @*<img class="login-img-card" src="@Url.Content("~/Content/SiteAssets/images/avatar/jaman-01.jpg")" alt="login thumb" />*@
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control floatlabel", @placeholder = "Email Address" })
                <label for="UserName" class="error"><span class="error-custom">@Html.ValidationMessageFor(m => m.UserName)</span></label>
                
                @Html.PasswordFor(m => m.Password, new { @class = "form-control floatlabel", @placeholder = "Password" })
                <label for="Password" class="error"><span class="error-custom">@Html.ValidationMessageFor(m => m.Password)</span></label>
                
                <div id="remember" class="checkbox">
                    <label>
                        @*<input type="checkbox" class="switch-mini" /> Remember Me*@
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "switch-mini" })
                        Remember Me
                    </label>
                </div>
                
                <label for="Password" class="error"><span class="error-custom">@Html.ValidationSummary(true)</span></label>
                <button class="btn btn-primary btn-block btn-signin" type="submit">Sign In</button>
                
            }
            @*<a href="#" class="forgot-password">
                Forgot the password?
            </a>*@
        </div>
        @*<div class="create-account">
            <a href="#">
                Create Account
            </a>
        </div>*@

        @*<div class="login-footer">
            Crafted with<i class="fa fa-heart"></i>by <a href="#">westilian</a>

        </div>*@

    </div>

    <script src="@Url.Content("~/Content/SiteAssets/js/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jRespond.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/nav-accordion.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/hoverintent.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/waves.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/switchery.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/jquery.loadmask.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/icheck.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootbox.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/animation.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/colorpicker.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/floatlabels.js")"></script>

    <script src="@Url.Content("~/Content/SiteAssets/js/smart-resize.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/layout.init.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/matmix.init.js")"></script>
    <script src="@Url.Content("~/Content/SiteAssets/js/retina.min.js")"></script>
</body>

</html>
