﻿@model PDFCMS.Models.Subscriber

@{
    ViewBag.Title = "Subscribers";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">Create</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Subscribers", "Index", "Subscriber")
                        </li>
                        <li class="active-page">Create</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Subscriber Create</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    @using (Html.BeginForm("Create", "Subscriber", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter Subscriber Email" })
                                <label for="Name" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Email)</span></label>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "Subscriber", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#subscribers .anchor").addClass("active");
            $("#subscribers ul").show();
        });
    </script>
}