﻿@model PDFCMS.Models.CategoryFile

@{
    ViewBag.Title = "Files";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">Create</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li>
                            @Html.ActionLink("Files", "Index", "File")
                        </li>
                        <li class="active-page">Create</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>File Upload</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">

                    @using (Html.BeginForm("Create", "File", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                            

                            <div class="form-group">
                                <label class="control-label col-md-2" for="categoryFile">File</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control", @name = "categoryFile", @accept = "application/pdf" })
                                    <label for="categoryFile" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.File)</span></label>
                                </div>
                            </div>
                        
                        <div class="form-group">
                                <label class="control-label col-md-2" for="title">Title</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title" })
                                    <label for="title" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Title)</span></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="category">Category</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories.Select(c => new SelectListItem
                               {
                                   Text = c.Name,
                                   Value = c.CategoryId.ToString()
                               }), new { @class = "form-control" })
                                </div>
                            </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.pagesLimit, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.pagesLimit, new { @class = "form-control", @placeholder = "Enter Pages Limit", @type = "number" })
                                <label for="pagesLimit" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.pagesLimit)</span></label>
                            </div>
                        </div>

                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <div class="col-md-offset-5">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", "File", null, new { @class = "btn btn-default" })
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#files .anchor").addClass("active");
            $("#files ul").show();
        });
    </script>
}




