﻿@model PagedList.IPagedList<PDFCMS.Models.CategoryFile>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Files";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">View</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li class="active-page">Files</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-block ex-noty" })
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered matmix-dt bg-hc-border datatable">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Version
                </th>
                <th>
                    File
                </th>
                <th>Table of Content</th>
                <th>TOC Version</th>
                @*<th>Glossary</th>*@
                <th>Email Pages Limit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "DownloadFile", new { fileName = item.Name })
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("View", "Index", "TOC", new { fileId = item.FileId }, new { @class = "btn btn-default btn-sm m-user-edit" })
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Toc_Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pagesLimit)
                    </td>
                    @*<td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("View", "Index", "Glossary", new { fileId = item.FileId }, new { @class = "btn btn-default btn-sm m-user-edit" })
                            </div>
                        </div>
                    </td>*@
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.FileId }, new { @class = "btn btn-default btn-sm m-user-edit" })
                                <a class="btn btn-default btn-sm m-user-delete" onclick="javascript:removeFile(@item.FileId)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#files .anchor").addClass("active");
            $("#files ul").show();
        });
    </script>


    @Scripts.Render("~/Content/SiteAssets/js/jquery.dataTables.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.responsive.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.tableTools.js")
    @Scripts.Render("~/Content/SiteAssets/js/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/SiteAssets/js/stacktable.js")
    <script type="text/javascript">


        function removeFile(fileId) {
            //var forgeryId = $("#forgeryToken").val();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this Information!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    jQuery.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "File")',
                        ajaxasync: true,
                        data: { id: fileId },
                        //headers: {
                        //    'VerificationToken': forgeryId
                        //},
                        success: function (data) {
                            //alert(data);
                            //$(_this).parentsUntil('tbody').addClass("noty_animated bounceOutRight");
                            if (data == "Success") {
                                console.log('Removed');
                                //swal("Deleted!", "Information has been deleted.", "success");
                                swal({ title: "Deleted!", text: "Information has been deleted", timer: 2000, showConfirmButton: false });
                                var url = '@Url.Action("Index", "File")';
                                window.location.href = url;
                            }
                            else{
                                swal("Error!", "Something went wrong", "error");
                            }

                        },
                        error: function (data) {
                            swal("Error!", "Something went wrong", "error");
                        }
                    });
                }
            });
        }

    </script>
}

