﻿@model PDFCMS.Models.Settings

@{
    ViewBag.Title = "Settings";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">@ViewBag.Title@*<small>A different styled complex table</small>*@</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Subscriber")
                        </li>
                        <li class="active-page">Settings</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Settings</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    @using (Html.BeginForm("Save", "Settings", null , FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(model => model.SettingId)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.pagesLimit, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.pagesLimit, new { @class = "form-control", @placeholder = "Enter Pages Limit", @type = "number" })
                                <label for="pagesLimit" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.pagesLimit)</span></label>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "Subscriber", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#settings .anchor").addClass("active");
            $("#settings ul").show();
        });
    </script>
}