﻿@model PDFCMS.Models.Category

@{
    ViewBag.Title = "Edit";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">@ViewBag.Title@*<small>A different styled complex table</small>*@</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Categories", "Index", "Category")
                        </li>
                        <li class="active-page">Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                @*<span class="h-icon"><i class="fa fa-bars"></i></span>*@
                <h4>Category Edit</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    @using (Html.BeginForm("Edit", "Category", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        
                        @Html.HiddenFor(model => model.CategoryId)
                        @Html.HiddenFor(model => model.Identifier)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Category Name" })
                                <label for="Name" class="error"><span class="error-custom">@Html.ValidationMessageFor(model => model.Name)</span></label>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", "Category", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#categories .anchor").addClass("active");
            $("#categories ul").show();
        });
    </script>
}
