﻿@model PagedList.IPagedList<PDFCMS.Models.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7">
            <div class="page-breadcrumb-wrap">
                <div class="page-breadcrumb-info">
                    <h2 class="breadcrumb-titles">@ViewBag.Title@*<small>A different styled complex table</small>*@</h2>
                    <ul class="list-page-breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="active-page">Categories</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-block ex-noty" })
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered matmix-dt bg-hc-border datatable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group" role="group">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-default btn-sm m-user-edit" })
                                    <a class="btn btn-default btn-sm m-user-delete" onclick="javascript:removeCategory(@item.CategoryId)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

    @section script
    {
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $("#categories .anchor").addClass("active");
                $("#categories ul").show();
            });
        </script>
        @Scripts.Render("~/Content/SiteAssets/js/jquery.dataTables.js")
        @Scripts.Render("~/Content/SiteAssets/js/dataTables.responsive.js")
        @Scripts.Render("~/Content/SiteAssets/js/dataTables.tableTools.js")
        @Scripts.Render("~/Content/SiteAssets/js/dataTables.bootstrap.js")
        @Scripts.Render("~/Content/SiteAssets/js/stacktable.js")
        <script type="text/javascript">
   

        function removeCategory(categoryId) {
            //var forgeryId = $("#forgeryToken").val();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this Information!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    jQuery.ajax({
                        type: "post",
                        url: '@Url.Action("Delete","Category")',
                        ajaxasync: true,
                        data: { id: categoryId },
                        //headers: {
                        //    'VerificationToken': forgeryId
                        //},
                        success: function () {
                            //$(_this).parentsUntil('tbody').addClass("noty_animated bounceOutRight");
                            swal("Deleted!", "Information has been deleted.", "success");
                            window.location.replace('@Url.Action("Index", "Category")');
                        },
                        error: function (data) {
                            console.log('not remvoed');
                        }
                    });
                }
            });
        }
    
</script>
    }
